.f-s10 {
    font-size: 10px;
}
.f-s11 {
    font-size: 11px;
}
.f-s12 {
    font-size: 12px;
}

.f-s13 {
    font-size: 13px;
}

.f-s14 {
    font-size: 14px;
}

.f-s15 {
    font-size: 15px;
}

.f-s16 {
    font-size: 16px;
}

.f-s17 {
    font-size: 17px;
}

.f-s18 {
    font-size: 18px;
}

.f-s19 {
    font-size: 19px;
}

.f-s20 {
    font-size: 20px;
}

.f-s21 {
    font-size: 21px;
}

.f-s22 {
    font-size: 22px;
}

.f-s23 {
    font-size: 23px;
}

.f-s24 {
    font-size: 24px;
}

.f-s25 {
    font-size: 25px;
}

.f-s30 {
    font-size: 30px;
}

.f-s35 {
    font-size: 35px;
}

.f-s40 {
    font-size: 40px;
}

.f-s45 {
    font-size: 45px;
}