* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(Font/Roboto-Light.woff);
}

.white {
  color: white;

}


/* -------------Library--------------- */
.d-f {
  display: flex;
}

.jf-c {
  justify-content: center;
}

.al-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.f-w {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-at {
  height: auto;
}

.h-100 {
  height: 100%;
}

.cl-lambo {
  color: #202020
}

.bg-lambo {
  background-color: #181818;
}

.jf-t {
  justify-content: flex-start;
}

.jf-e {
  justify-content: flex-end;
}

.jf-b {
  justify-content: space-between;
}

.al-c-t {
  align-content: flex-start;
}

.t-a-l {
  text-align: left;
}

/* -------------Library--------------- */

/* -----------CSS-------------------- */
.header {
  height: 93px;
  position: fixed;
  background-color: #181818;
  z-index: 1000;
}

.contain-nav {
  box-sizing: border-box;
  padding: 0px 20px;
}



.left-menu>.logo>img {
  width: 60px;
  height: auto;
}

.nav-menu-left>.ul-menu-left {
  margin-left: 52.5px;
  margin-bottom: 6px;
}

.nav-menu-left>.ul-menu-left>li {
  list-style: none;
  margin-right: 15px;
  position: relative;
}

.bgUl {
  position: absolute;
  width: 1700px;
  height: 2px;
  background-color: #181818;
  top: 307%;
  left: -511%;
  z-index: -100;
  transition: transform 0.9s ease-in-out;

}


.nav-menu-right>.ul-menu-right>li {
  list-style: none;
  margin-right: 15px;
  position: relative;
}

.nav-menu-left>.ul-menu-left>li>a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 12.6px;
}

.nav-menu-left>.ul-menu-left>li>a>span {
  position: relative;
  padding: 10px 0;
}

.nav-menu-right>.ul-menu-right>li>a>span {
  position: relative;
  padding: 10px 0;
}






.nav-menu-right>.ul-menu-right {
  margin-right: 2px;
  margin-bottom: 6px;
}





.nav-menu-right>.ul-menu-right>li>a {

  text-decoration: none;
  color: white;
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;

}

li a span:after {
  content: "";
  position: absolute;
  top: 29px;
  left: 0;
  height: 1px;
  width: var(--widthSPan, 0px);
  background-color: rgb(255, 255, 255);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

li a span:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 59px;
  width: 100px;

  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.spanLast:before {
  width: 100px;
}

/* li a span:before {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  transition: all 0.3s ease-in-out;
} */

li a span:hover:after {
  width: 100%;
  transition: all 0.38s ease-in-out;
}

.right-menu {

  font-family: 'Roboto', sans-serif;

}

.nav-menu-right {
  margin-right: 9px;
}

.icon {
  width: 134px;
}

.menu-bar {
  height: 16px;

  margin-bottom: 3px;
  justify-content: space-between;
}

.search {
  font-size: 25px;
}

.material-symbols-outlined {
  font-size: 30px;
}

.up {
  width: 25px;
  height: 1.35px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
}

.rotateUp {
  transform: rotate(45deg);
  transform-origin: 0px 0px;
  transition: transform 0.3s ease-in-out;

}

.mid {
  width: 25px;
  height: 0.6px;
  background-color: white;
  transition: opacity 0.3s ease-in-out;

}

.ClearMid {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

.down {
  width: 25px;
  height: 1.35px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg) translate(0px, 0px);
  transform-origin: 0px 0px;
}

.rotateDown {
  transform: rotate(-45deg) translate(-2.1px, 2px);
  transition: transform 0.3s ease-in-out;
  transform-origin: 0px bottom;
}

/* ======== seperate ul header ========= */


.showUl-level1 {

  transition: all .5s ease-in-out;
  height: auto;

  opacity: 100%;
  z-index: -10;
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(-100%);

  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }


  100% {
    opacity: 100%;
    transform: translateY(0);

  }
}





.ul-menu-left__model:before {
  content: "";
  width: 288.9%;
  height: 120%;

  position: absolute;
  top: 2%;
  left: -200%;
  z-index: -1;





}







/* .ul-menu-left li:hover .ul-menu-left__model {
  display: block;
} */

/* =====header ul level 2 ====== */
.add-more-div {
  width: 100%;
  background-color: red;
  height: 93px;
}

.header-ul-level2 {
  width: 100%;
  background-color: #181818;
  z-index: 0;
  position: relative;
  overflow: hidden;
  transform: translateY(0);
  transition: all 0.5s ease-out;

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

#MODEL {

  height: 332px;
  top: 0%;
  left: 132px;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

#CUSTOM-SOLUTIONS {
  height: 202px;
  top: 0%;
  left: 200px;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

#OWNERSHIP {
  height: 302px;
  top: 0%;
  left: 334px;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

#MOTORSPORT {
  height: 332px;
  top: 0%;
  left: 417px;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

.ul-menu-left__model {
  position: relative;
  top: -10px;
  left: 0;

  width: 153px;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
  z-index: 1;





}

#MODEL:hover {
  display: block;
}


.tab-ul {
  /* background-color: #181818; */
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

.tab-ul:hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}



.hidden {
  display: none;
  position: relative;
}

.hidden:hover {
  display: block;
}

.hidden:after {
  content: "";
  width: 300px;
  height: 350px;
  position: absolute;
  top: 0;
  left: -100px;
}

.block {
  display: block;
}



.ul-menu-left__model>li:hover>a {
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-out;
  transition-delay: 0.1s;
}

.ul-menu-left__model>li {
  list-style: none;
  padding: 13.7px 0px;

}

.ul-menu-left__model>li:hover

/* --------Ul level 3-------- */
.contain-ul-level3 {

  background-color: rgb(206, 31, 31);
  display: none;
}

.level-3 {
  top: -6px;
  left: 150px;
  height: 300px;
  position: absolute;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  width: 180%;
  transition: all 0.1s ease-out 0s;
  z-index: 200;


}

.aventador-li {
  /* background-color: grey;
  margin: 10px 0px; */
  list-style: none;



}

/* .level-3 li a {
  background-color: rgb(254, 120, 11);
  
} */
.aventador {
  padding-bottom: 18.5px;
  transition: all 0.5s ease-out;
  display: inline-block;
  padding-top: 11px;
}

.level-3:after {
  content: "";
  width: 50px;
  height: 300px;
  position: absolute;
  top: 0;

  left: -50px;
}

/*   */


.active2 {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out 0s;

}


.unselected>li>a {
  color: rgb(111, 111, 111);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

}



.unselected>li:hover a {
  color: white;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
}

.unselected {
  display: none;
}

.selected {
  display: block;
}

.text {
  color: rgb(111, 111, 111);
  font-weight: 400;
  transition: all 0.3s ease-out;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.white {
  color: white;
}

/* ------show menu back ground model--------- */
.menu-link-data {
  width: 100%;
  position: absolute;
  height: 600px;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  z-index: -40;
  transition: all 0.5s ease-out;
}

.menu-link-data.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out;
}


.row {
  width: 100%;
  box-sizing: border-box;
  height: 600px;
  padding: 0px 20px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;

}


.aventador {
  position: relative;
}

.level-3 .unselected li a:after {
  content: "";
  /* top: 0px;
  left: -50px;
  position: absolute;
  width: 700px;
  height: 300%;
  background-color: rgb(255, 255, 0,0.2);
  visibility: hidden;
  opacity: 0;
  z-index: -300; */
}

/* .level-3 #AVENTADOR li:nth-child(1) a:after{
  opacity: 1;
  content: "";
  top: 0px;
  left: -50px;
  position: absolute;
  width: 800px;
  height: 600px;
  z-index: -300;
  opacity: var(--opa,0);
  visibility: var(--hidden,hidden);
  background-color: rgba(255, 187, 0, 0.2);
}  */




.col {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  box-sizing: border-box;
  background-color: red;

}

.col img {
  max-width: 70%;

}

.lambo {
  position: absolute;
  height: calc(41vw);
  height: -moz-calc(41vw);
  height: -webkit-calc(41vw);
  box-sizing: border-box;
  padding-bottom: 13vw;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
}

.lambo.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out 0s;
}

.content {
  width: 100%;
  height: 430px;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.col-content {
  width: 100%;

  height: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 0;
  padding-left: 7.9999%;
  box-sizing: border-box;
  align-items: flex-end;
}









.left {
  width: 37.2%;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  border: 1px solid rgba(126, 126, 126, 0.1);
  padding: 3.16% 0px;

}

.contain-information {

  width: 79.8%;

  height: 60px;
}

.center {
  width: 26%;
  /* padding: 40px 0px; */
  background-color: transparent;
  border-bottom: 1px solid rgba(75, 74, 74, 0.1);
  border-top: 1px solid rgba(75, 74, 74, 0.1);
  opacity: 0;
  visibility: hidden;
  padding: 3.16% 0px;

}

.wrap-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 71.7%;

  height: 60px;
}

.right {
  width: 30%;
  /* height: 93.99%; */
  background-color: transparent;
  border: 1px solid rgba(75, 74, 74, 0.1);
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
}



.max-speed {
  width: 50%;
  border-right: 1px solid rgba(75, 74, 74, 0.1);
  opacity: 0;
  visibility: hidden;
  padding: 2.82vw 0px;
}

.speed-per-s {
  width: 50%;

  padding: 2.82vw 0px;

}

.contain-speed {
  height: 33.00%;
  width: 100%;
}


.text-model-name {
  margin-top: 8px;
  font-size: 0.99vw;
  font-weight: 100;
}

.wrapper {
  margin-bottom: 5px;
}

.hexagon {

  width: 45px;
  height: 53px;
  background-color: rgb(255, 255, 255);
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  transform-origin: center center;

}

.hexagon-effect {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.7s ease-out 0s, opacity 0.7s ease-out 0s;
  transition-delay: 0.1s;
}



.hexagon2 {

  width: 42px;
  height: 50px;
  background-color: rgb(20, 20, 20);
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon2 {
  /* background-color: black; */
  transition: all 0.5s ease-out 0s;
}

.hexagon2Effect {
  background-color: rgb(206, 206, 206);
  transition: all 0.5s ease-out 0s;
  transition-delay: 1s;
  animation: color 2s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-color: rgb(206, 206, 206);
  }

  100% {
    background-color: black;
  }
}

@keyframes textcolor {
  0% {
    color: black;
  }

  100% {
    color: rgb(206, 206, 206);
  }
}

.hexagon2.hexagon2Effect>span {
  color: black;
  animation: textcolor 2s ease-in-out infinite;
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;
}







.parameter {
  font-weight: 100;
  margin-bottom: 3px;
  font-size: 1.3vw;
}

.parameter-line-2 {
  font-size: 1.2vw;
  font-weight: 100;
}

.blank {
  width: 100%;
  padding: 5vw 0px;
  border-bottom: 1px solid rgba(75, 74, 74, 0.1);
  opacity: 0;
  visibility: hidden;
}

.text-left {
  transform: translateX(-75%);
  opacity: 0;
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out;
  color: rgb(206, 206, 206);
}




.info-model-text {
  transition-delay: 0.3s;
  font-size: 2vw;
  font-weight: 100;
}

.parameterEffect {
  transform: translateX(-75%);
  opacity: 0;
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out;
  color: rgb(206, 206, 206);
}

.parameterEffect:nth-child(1) {
  transition-delay: 0.3s;
}

.parameterEffect:nth-child(2) {
  transition-delay: 0.4s;
}



.addTransition {
  transform: translateX(-75%);
  opacity: 0;
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out;
  color: rgb(206, 206, 206);
}

.addTransition:nth-child(1) {
  transition-delay: 0.6s;
}

.addTransition:nth-child(2) {
  transition-delay: 0.7s;
}

.moreTransition {
  transform: translateX(-75%);
  opacity: 0;
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out;
  color: rgb(206, 206, 206);
}

.moreTransition:nth-child(1) {
  transition-delay: 0.8s;
}

.moreTransition:nth-child(2) {
  transition-delay: 0.9s;
}

.effect {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out;
}





/* --------------------------------MAIN------------------------------ */


main {
  width: 100%;

  /* overflow: hidden; */
  position: relative;
  height: auto;
}

.banner {
  width: 100%;
  /* animation: moveSlide 5s ease-in-out infinite; */
  position: relative;
  top: -55px;
  left: 0;
  height: auto;
}

.banner__img {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

.banner__img img {
  max-width: 100%;
}


.banner__content {
  position: absolute;
  z-index: 100;
  top: 167px;
  width: 50%;
  left: 120px;
  color: white;
  height: 420px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.text-above-banner {
  position: relative;
}

.big-text {
  font-size: 78px;
  font-weight: 700;
  line-height: 105%;
  margin: 6px;
  margin-bottom: 18px;
  transform: translateX(-220%);
  transition: transform 0.9s ease-in-out 0s;
  opacity: 0;
}

.trans-x-0 {
  transform: translateX(0);
  transition: transform 1.1s ease-out 0s;
  opacity: 1;
  transition-delay: 0.3s;

}

.banner__title {
  font-weight: 600;
  /* opacity: 0;
  visibility: hidden; */
  transition: opacity 2s ease-out 1s, visibility 0.5s ease-out 0s;
  color: rgb(255, 255, 255);
  margin-left: 15px;

}



.hexagon__banner {
  width: 82px;
  height: 92px;
  margin: 1px;
  margin-left: 15px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.5s ease-out 0s, opacity 0.5s ease-out 0s;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transform-origin: center center;

  transform: scale(0);
  transition: all 1.1s ease-in-out 0s;
  opacity: 0;
  transform-origin: center center;

}

.hexagon-effect {
  /* transform: scale(1); */
  opacity: 1;
  transition: transform 0.7s ease-out 0s, opacity 0.7s ease-out 0s;
  transition-delay: 0.1s;
  animation: rotate 2s linear infinite;
}



.hexagon2_banner {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 59.5px;
  height: 66.5px;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.hexagon2_banner:hover {
  background-color: white;
  transition: all 0.4s ease-in-out;

}

.hexagon2_banner:hover i {
  color: black;
  transition: all 0.5s ease-in-out;
}


.sca-hexa-100 {
  transform: scale(1);
  transition: transform 1.1 s ease-in-out 0s;
  opacity: 1;
  transition-delay: 0.2s;

}

.rotate-hexagon {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.active-banner {
  display: flex;
  transition: opacity 2s ease-out 1s, visibility 0.5s ease-out 0s;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}

.banner__title {
  display: none;
}

.active-banner {
  display: flex;
  transition: opacity 2s ease-out 1s, visibility 0.5s ease-out 0s;
}

.transText1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: translateX(-2900%);
}

.transText2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: translateX(-3900%);
}

.transText3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: translateX(-2900%);
}

.transText4 {
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: translateX(-2500%);
}

.transTextActive {
  transform: translateX(0);
  transition: all 0.5s ease-out 0s;
}

.blank-banner {
  width: 10px;
  height: 1px;
}

/* ---------------explore-model------------- */
.add-blank {
  width: 100%;
  height: 655.5px;
  background-color: yellow;
}

.contain-explore-model {
  position: relative;
  top: 0;
  width: 100%;
  height: 900px;
  left: 0;
  overflow-x: hidden;
  display: flex;
  /* flex-direction: column; */
}

.explore-model {
  width: 115%;
  height: 600px;
  background-color: black;
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  right: 0;

  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
}

.explore-model:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #181818;

  transform: translateX(100%) skew(-20deg);
  z-index: -1;
}

.slide-skew {
  width: 850px;
  height: 100%;
  box-sizing: border-box;

  border: 1px solid black;
  opacity: 0;
  transition: all 0.9s ease-out 1s;
}

.slide-skew:nth-child(2) {
  opacity: 1;

}

.slide-skew:nth-child(3) {
  opacity: 1;
}

.slide-skew:nth-child(4) {
  opacity: 1;
}

.skew {
  position: relative;
  transform: skew(-20deg);
  transform-origin: bottom left;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: blue;
  transition: all 0.5s ease-out 0s;

}

.slide-skew:nth-child(3) .skew:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
  background-color: rgb(2, 2, 2, 0.75);
}

.slide-skew:nth-child(2) .skew:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
  background-color: rgb(2, 2, 2, 0.75);

}

/* .skew:nth-child(3):after{
  content:"";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
} */
.skew_background {
  transform: skew(20deg);
  height: 100%;
  width: 236%;
  transform-origin: bottom left;
  background-position: center center;
  background-size: cover;
  background-color: black;
  position: relative;
}

.skew_background img {
  max-width: unset;
  width: auto;
  height: 100%;
  position: absolute;
  left: 25% !important;
  transform: translateX(-50%);
}

.active-skew {
  transition: all 0.9s ease-out 0s;
  /* width: 2050px; */
  animation: skewOpacity 0.7s linear forwards;

}

@keyframes skewOpacity {
  0% {
    width: 850px;
    opacity: 0;
  }



  100% {
    width: 2050px;
    opacity: 1;
  }

}

.active-skew2 {
  transition: all 0.5s ease-out 0s;
  width: 0px;
}

.opacity {
  opacity: 1;
}

.control {
  position: absolute;

  top: 100px;
  left: 100px;
  z-index: 10;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

.control-slide-left {
  color: white;
  background-color: aqua;
  padding: 15px 20px;
  border: none;

}

.control-slide-right {
  background-color: transparent;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}

.btn-right-appendSlide2 {
  position: absolute;
  top: 29.5%;
  left: 37%;
  font-size: 22px;
}

.btn-right-appendSlide1 {
  position: absolute;
  top: 28%;
  left: 34%;
  font-size: 22px;

}

.control_title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-left: 5px;

}

.hexagon2_banner2 {
  position: absolute;

  width: 57px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.5s ease-in-out;
  height: 65px;
}

.hexagon2_banner2:hover {
  background-color: white;
  transition: all 0.5s ease-in-out;

}

.hexagon2_banner2:hover i {
  color: black;
  transition: all 0.5s ease-in-out;

}

.big-text2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 105%;
  margin: 6px;
  margin-bottom: 18px;
  transform: translateX(-220%);
  transition: transform 0.9s ease-in-out 0s;
  opacity: 0;
}

.trans-x-0 {
  transform: translateX(0);
  transition: transform 1.1s ease-out 0s;
  opacity: 1;


}

.skewTextEffect {
  color: white;
  z-index: 10;
  margin-top: 250px;
  margin-left: 100px;


  display: none;
}

.activeSkewTextEffect {

  display: block;

}

.descSkew {
  display: flex;
  margin-left: 10px;
}


.skewTextOpa1 {
  opacity: 0;
  font-size: 110px;
  font-weight: 700;

}

.skewTextOpa2 {
  opacity: 0;
  font-size: 110px;
  font-weight: 700;

}

.skewTextOpa3 {
  opacity: 0;
  font-size: 110px;
  font-weight: 700;

}

.activeOpaText {
  opacity: 1;
  transition: 0.3s linear;

}

.btn_add_moreSkew {
  width: 200px;
  height: 100px;
  z-index: 100;

  position: absolute;
  left: 6.5%;
  top: 50%;

}

.control-slide-right {
  background-color: transparent;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.hexagon2_banner2_plus {
  position: absolute;

  width: 57px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.5s ease-in-out;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon2_banner2_plus:hover {
  background-color: white;
}

.hexagon2_banner2_plus:hover span {
  color: black;
}

.text-explore {
  color: white;
  font-weight: 300;
  margin-left: 15px;
  line-height: 22px;
}

.explore-model {
  transform: translateX(0%);
  transition: transform 0.45s ease-in-out;
}

.active_explore-model {
  transform: translateX(-70%);
  transition: transform 0.45s ease-in-out;


}

.contain_info-model-skew {
  background-color: #181818;
  width: 100%;
  height: auto;
  position: absolute;
  left: 17%;
  top: 0;
  z-index: 100;
  transform: translateX(100%) skew(-20deg);
  transition: transform 0.45s ease-in-out;

  height: 46.84vw;
  align-items: center;

  flex-direction: column;
}

.active_contain_info-model-skew {
  transform: translateX(0) skew(-20deg);
  transition: transform 0.45s ease-in-out;

}

.info-model-skew {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100%;
}

.back_btn_skew {
  justify-content: flex-end;
  display: flex;
  width: 50%;
  margin-bottom: 3%;
  margin-top: 3%;


}

.hexagon2_banner2_info {
  position: absolute;

  width: 50px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.5s ease-in-out;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.hexagon2_banner2_info i {
  margin-right: 2px;
}

.hexagon2_banner2_info:hover {
  background-color: white;
}

.hexagon2_banner2_info:hover i {
  color: rgb(0, 0, 0);
}

.contain_ul_skew {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contain_ul_skew ul {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  margin-right: 10%;
  z-index: 1000;

}

.contain_ul_skew ul li {
  background-color: #181818;
  padding: 10px 0px;
  color: #464646;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #464646;
  font-size: 24px;
  font-weight: 500;
  transition: 0.6s ease-in-out;


}

.opa_text_info {
  transition: 0.3s linear;
  font-size: 15px;
  display: flex;
  align-items: center;

  opacity: 0;
}

.contain_ul_skew ul li:hover {
  color: white;
  transition: 0.6s ease-in-out;
}

.contain_ul_skew ul li:hover .opa_text_info {
  opacity: 1;
  transition: 0.6s linear;

}

.display-n {
  display: none;
}

.control-banner {
  position: absolute;
  top: 35%;
  left: 11%;
  display: flex;
  gap: 10px;
  z-index: 100;
  height: 10px;


  align-items: center;
}

.control-banner div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-block {
  position: relative;
  transition: all 0.3s ease-in;

}
.active_block{
  transform: scaleY(2);
  transition: all 0.3s ease-in;
}

.control-block1 {
  width: 40px;

  height: 2.5px;
  transition: all 0.3s ease-in;
  background-color: rgb(255, 255, 255);

  box-shadow: 1px 0px 15px rgb(71, 71, 71);
}

.control-block2 {
  width: 40px;

  height: 2.5px;
  transition: all 0.3s ease-in;
  background-color: rgb(255, 255, 255);

  box-shadow: 1px 0px 15px rgb(71, 71, 71);
}

.control-block3 {
  width: 40px;

  height: 2.5px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in;

  box-shadow: 1px 0px 15px rgb(71, 71, 71);
}

.control-block4 {
  width: 40px;

  height: 2.5px;
  transition: all 0.3s ease-in;
  background-color: rgb(255, 255, 255);

  box-shadow: 1px 0px 15px rgb(71, 71, 71);
}


.control-block1::after,
.control-block2:after,
.control-block3:after,
.control-block4:after {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -10px;
  left: 0;

  z-index: -1;


}

.control-block1:hover {
  transform: scaleY(2);
  transition: all 0.3s ease-in;

}

.control-block2:hover {
  transform: scaleY(2);
  transition: all 0.3s ease-in;

}

.control-block3:hover {
  transform: scaleY(2);
  transition: all 0.3s ease-in;

}

.control-block4:hover {
  transform: scaleY(2);
  transition: all 0.3s ease-in;

}